.menus {
  width: 100%;
  height: auto;
  border-top: solid 3px #eaeaea;
  margin-bottom: 30px;
}

.menus_body {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  padding: 40px;
  margin-bottom: 15px;
}

.menus_title {
  border-top: solid 3px #eaeaea;
  font-size: 44px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #eaeaea;
  padding: 3px;
}

.menu_main {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto 0;
}

.menus_block {
  width: 50%;
}

.menu_block {
  width: 80%;
  margin: 0 auto;
}

.menu_label_block {
  border-top: solid 4px #ccffff;
  border-bottom: solid 2px #eaeaea;
  margin: 0 auto;
  color: #eaeaea;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu_label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  color: #eaeaea;
  margin: 0 auto;
  padding: 5px;
}

.menu_list {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #eaeaea;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: solid 2px #eaeaea;
}

.menu_list_name {
  width: 50%;
  text-align: left;
  padding: 3px;
}

.menu_list_price {
  width: 50%;
  text-align: right;
  padding: 3px;
}
