.concept {
  width: 100%;
  height: auto;
  display: flex;
  border-top: solid 3px #eaeaea;
}

.concept_image {
  display: block;
  margin: 60px;
}

.concept_body {
  display: block;
  margin: 150px 50px 40px;
}

.concept_title {
  border-top: solid 3px #eaeaea;
  font-size: 44px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #eaeaea;
  padding: 3px;
  margin-bottom: 20px;
}

.concept_text {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #eaeaea;
  margin: 10px;
}
