.firstView {
  position: relative;
  height: 700px;
  min-height: 760px;
  display: block;
  overscroll-behavior-y: none;
}

.firstView_image {
  overflow: hidden;
  text-align: center;
  overscroll-behavior-y: none;
}
